body {
	overflow-x: hidden;
}

@media screen and (max-width: 640px) {
	.definition {
		width: 100%;
		margin: 0 0 1em 0;
		float: none;
	}
	#header-photo {
		width: 100% !important;
	}

	.poz-nav-btn {
		width: 6.7em !important;
		height: 6.7em !important;
	}

	h1 {
		font-size: 2em !important;
	}

	p.byline {
		font-size: 1em !important;
	}

}

/* HEADER */

.story-cover, .story-cover-content {
	top: 1em;
}

.story-cover-image {
	min-width: 100%;
	background-width: 100% !important;
	background-height: auto;
}

/* TEXT */

blockquote.lead {
	font-size: 1.25em;
	font-family: "Libre Baskerville";
	font-weight: 700;
	width: 140%;
	margin-left: -20%;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

h1 {
	font-size: 3em !important;
}

p.lead {
	font-size: 1.5em !important;
	line-height: 1.2 !important;
}

p.byline {
	font-size: 1em !important;
}

p {
	color: black;
}

a {
	text-decoration: none !important;
}

.narration {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #868686;
	font-style: italic;
	margin-right: 15%;
	margin-left: 15%;
	line-height: 1.2;
}

/* DEFINITIONS */

mark {
	background-color: #caeaf7 !important;
}

mark:hover {
	background-color: #87d0ee !important;
	cursor: pointer;
}

span.blue-text{
	color: #44b6e5;
}

a.blue-text {
	color: #87d0ee !important;
}

a.blue-text:hover {
	color: #44b6e5 !important;
}

.definition {
	width: 40%;
	border: 3px solid #44b6e5;
	margin: 0 -50% 0 2em;
	float: right;
	display: none;
}

.definition p{
	font-family: "Source Sans Pro", Helvetica, sans-serif !important;
	color: #868686;
	padding: 0.7em;
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: 400;
	font-style: italic;
	margin: 0;
}

.definition-mob {
	font-family: "Source Sans Pro", Helvetica, sans-serif !important;
	color: #868686;
	line-height: 1.2em;
	font-size: 0.9em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	font-style: italic;
	display: none;
	margin-right: 15%;
	margin-left: 15%;
}

#push-down {
	margin-bottom: 10em !important;
}

/* NAVIGATION */

#johnR, #eddieG, #damonJ, #jimP, #hadeisS, #philC {
	display: none;
}

.poz-nav.poz-nav-sticky [class*="col-"] {
	padding: 0;
}

.poz-nav .navbar {
	margin-bottom: 0px;
}

.poz-nav.poz-nav-sticky {
	position: fixed;
	top: 62px;
	border-bottom: 1px solid #CCC;
	z-index:99;
}

.poz-nav-btn {
	width: 12em;
	height: 16em;
	display:inline-block;
	margin: 0.25em;
	opacity: 0.6;
	line-height:16px;
	margin-bottom:20px;
	margin-top:20px;
}

.poz-nav-btn:hover {
	opacity: 1;
}

.poz-nav-btn:active {
	opacity: 0.6;
}


/* IMAGES */

.lazyload {
	opacity: 1 !important;
}

img.img-show {
	opacity: 1 !important;
}

.showUp {
	opacity: 1 !important;
}

#header-photo {
	width: 63.75em;
	image-rendering: crisp-edges !important;
}

/* END NAVIGATION */
#end-nav-btn {
	text-decoration: none !important;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #868686;
	text-align: center;
}